workspace: "/home/fiwareulpgc/mirrors/repos"
source_repo_urls:
  'https://github.com/fiwareulpgcmirror/source-repo.git':
    mirror_remote_url: "git@github.com:fiwareulpgcmirror/mirrored-repo.git"
  'https://github.com/fiwareulpgcmirror/source-repo2.git':
    mirror_remote_url: "git@github.com:fiwareulpgcmirror/mirrored-repo2.git"
